<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="commons/template"
>
<body>
    <div th:fragment="menu">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img th:src="@{/img/logo_stocknet.png}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info" sec:authorize="isAuthenticated()">
                <a th:href="@{/}" class="d-block"><span sec:authentication="name"></span></a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item menu-open">
                    <a th:href="@{/user/home}" class="nav-link active" >
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('USER')" >
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Agenda
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/user/formAgenda}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Nouveau</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/user/agenda}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Type agenda
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/admin/formTypeAgenda}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Nouveau</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/user/index}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>


