<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="commons/template"
>
<!-- layout:decorate="template" Permet de charger la page template template.html -->
<head>
    <meta charset="UTF-8">
    <title>Types agenda</title>
</head>
<body>
<div layout:fragment="contente_page">
    <div class="container mt-2">
        <div class="card card-header">
            <h3>Liste des agendas</h3>
        </div>
        <div class="card-body">
            <form action="get" th:action="@{/user/agenda}">
                <label>Rechercher</label>
                <input type="text" name="rechercher" th:value="${valeurRechercher}"/>
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Libelle</th>
                    <th>Date et heure début</th>
                    <th>Date et heure fin</th>
                    <th sec:authorize="hasAuthority('USER')">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="Agenda:${listAgendas}">
                    <td th:text="${Agenda.id}"></td>
                    <td th:text="${Agenda.libelle}"></td>
                    <td th:text="${Agenda.dateDebutRendezVous}"></td>
                    <td th:text="${Agenda.dateFinRendezVous}"></td>
                    <td>
                        <a th:href="@{/user/editeAgenda(id=${Agenda.id},rechercher=${valeurRechercher},page=${currentPage})}"
                           class="btn btn-outline-warning"
                           sec:authorize="hasAuthority('USER')"
                        >Modifier</a>
                        <span sec:authorize="hasAuthority('USER')">|</span>
                        <a th:href="@{/user/delete(id=${Agenda.id},rechercher=${valeurRechercher},page=${currentPage})}"
                           class="btn btn-outline-danger"
                           onclick="return confirm('Voulez-vous vraiment supprimer cet enregistrement ?')"
                           sec:authorize="hasAuthority('USER')"
                        >Supprimer</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page,status:${pages}">
                    <a
                        th:class="${status.index==currentPage?'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}"
                        th:text="${status.index+1}"
                        th:href="@{/user/index(page=${status.index},rechercher=${valeurRechercher})}"
                    ></a>
                </li>
            </ul>

        </div>
    </div>
</div>
</body>
</html>
