<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="commons/template"
>
<!-- layout:decorate="template" Permet de charger la page template template.html -->
<head>
    <meta charset="UTF-8">
    <title>Nouveau types agenda</title>
</head>
<body>
    <div layout:fragment="contente_page">
        <div class="card border-primary col-12 " >

            <div class="card-header">Type d'agenda</div>
            <div class="card-body">
                <form th:action="@{/admin/saveTypeAgenda(page=${currentPage}, rechercher=${valeurRechercher})}" method="post">
                    <div class="form-group-lg">
                        <label for="libelle">Libelle</label>
                        <input type="text" name="libelle" id="libelle" th:value="${typeAgenda.libelle}" class="form-control"/>
                        <span class="text-danger" th:errors="${typeAgenda.libelle}"></span>
                    </div>
                    <input type="hidden" name="id" id="id" th:value="${typeAgenda.id}"/>
                    <div class="form-group-lg mt-1">
                        <button type="submit" class="btn btn-primary">
                            Modifier
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>
</html>
