<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="commons/template"
>
<head></head>
<body>
<h1>Login</h1>
<form name='f' th:action="@{/login}" method='POST'>
  <table>
    <tr>
      <td colspan="2" th:if="${param.error}">
        Le login ou le mot de passe est incorrect
      </td>
      <td colspan="2" th:if="${param.logout}">
        Vous venez d'être déconnecté
      </td>
    </tr>
    <tr>
      <td>User:</td>
      <td><input type='text' name='username' value=''></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type='password' name='password' /></td>
    </tr>
    <tr>
      <td><input name="submit" type="submit" value="submit" /></td>
    </tr>
  </table>
</form>
</body>
</html>
